{{- if .Values.prometheusMonitoring.enable }}
apiVersion: v1
kind: Service
metadata:
  name: vault-agent-webhook-metrics
  labels:
    app: vault-agent-webhook
spec:
  type: ClusterIP
  ports:
  - protocol: TCP
    port: 8081
    targetPort: metrics
    name: metrics
  selector:
    app: vault-agent-webhook

---

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: vault-agent-webhook
spec:
  endpoints:
  - port: metrics
    path: /
  selector:
    matchLabels:
      app: vault-agent-webhook
{{- end }}